body {
    font-family: Arial, sans-serif;
    background-color: #DCEFFF;
    padding: 20px;
}
h1 {
    text-align: center;
    color: #104E8B;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
}
th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}
th {
    background-color: #1E90FF;
    color: white;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
label {
    display: block;
    margin-bottom: 5px;
    color: #104E8B;
}
input[type="text"], input[type="email"], select {
    width: 98%;
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
}
button {
    background-color: #1E90FF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #104E8B;
}
